<div class="row d-flex justify-content-center border border-primary mt-4">
  <div class="col-12 col-sm-6">
    <form [formGroup]="formAutor" (ngSubmit)="salvar()">
      <div class="mb-3 row">
        <div class="col-12">
          <label for="nomeFormControlInput1" class="form-label">Nome do Autor</label>
          <input type="text" formControlName="nome" placeholder="Nome (min 3 caracteres)" class="form-control max-wi"
            id="nomeFormControlInput1">

          @if(formAutor.get('nome')?.touched && formAutor.get('nome')?.errors?.['minlength']){
          <p>
            Nome precisa ter pelo menos 3 caracteres.
          </p>
          }
        </div>
      </div>

      <div class="mb-3">
        <button class="btn btn-primary" type="submit" [disabled]="formAutor.invalid">
          {{ editando ? 'Atualizar' : 'Inserir' }}
        </button>
        @if(editando){
        <button class="btn btn-primary" (click)="resetForm()">Cancelar</button>
        }
      </div>
    </form>

    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">Autor</th>
          <th scope="col">Genero</th>
          <th scope="col">Livro</th>
          <th scope="col">Selecionar</th>
        </tr>
      </thead>
      <tbody>

        @for (autor of autores; track autor.id) {
        @for (livro of autor.livros; track livro.id) {
        <tr>
          <td>{{autor.nome}}</td>
          <td>{{livro.genero?.nome}}</td>
          <td>{{livro.titulo}}</td>
          <td>
            <button class="btn btn-primary  me-3" (click)="editar(autor)">Editar</button>
            <button class="btn btn-danger" (click)="deletar(autor.id)">Excluir</button>
          </td>
        </tr>
        }
        } @empty {
        <tr>
          <td colspan="4">
            Nenhum ator encontrado.
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>